// フォント設定
$font-family: 'Noto Sans JP', sans-serif;

// カラー設定
$color-black: #000000;
$color-white: #ffffff;
$color-gray-background: #f5f5f5;
$color-gray-line-normal: #cccccc;

$color-background: #111111;
$color-background-light: #555761;

// テーマカラー
$color-primary: #3498db;
$color-primary-light: #e9f5fe;
$color-secondary: #2ecc71;
$color-text: #333333;
$color-text-dark: #222222;
$color-text-light: #666666;

// ブレイクポイント
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
